.image {
    height: 100%;
    background-size: 'cover';
    background-repeat: no-repeat;
    background-position: 'center';
    border-radius: 0;
}

.noImage {
    padding: 40px;
    width: 100px;
    height: 100px;
    background-color: #DDD;
    border-radius: 50%;
}